
<ScrollView>
		<StackLayout orientation="vertical">
			<StackLayout>
				<GridLayout rows="*" columns="40,*" class="edit-back">
					<Label [nsRouterLink]="['/application/',uuid]" style="margin-left:20; font-size:22;" row="0" col="0" text="<" ></Label>
					<Label [nsRouterLink]="['/application/',uuid]" style="text-align:left; font-size:22;" row="0" col="1" text="Back" ></Label>
				</GridLayout>
			</StackLayout>
			<Label text="Director" class="h2" style="margin-left:20;"></Label>	
			<StackLayout>
				<GridLayout rows="*" columns="*,*" class="grid-form">
					<Label class="form-label" row="0" col="0" text="First Name" ></Label>
					<Label class="form-text" row="0" col="1" text="{{firstName}}" ></Label>
				</GridLayout>
				<GridLayout rows="*" columns="*,*" class="grid-form">
					<Label class="form-label" row="0" col="0" text="Last name" ></Label>
					<Label class="form-text" row="0" col="1" text="{{lastName}}" ></Label>
				</GridLayout>
				<GridLayout rows="*" columns="*,*" class="grid-form">
					<Label class="form-label" row="0" col="0" text="Email" ></Label>
					<Label class="form-text" row="0" col="1" text="{{email}}" ></Label>
				</GridLayout>
	
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="Adress line 1" ></Label>
						<Label class="form-text" row="0" col="1" text="{{al1}}" ></Label>
				</GridLayout>
	
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="Adress Line 2" ></Label>
						<Label class="form-text" row="0" col="1" text="{{al2}}" ></Label>
				</GridLayout>
	
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="City" ></Label>
						<Label class="form-text" row="0" col="1" text="{{city}}" ></Label>
				</GridLayout>
	
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="Postal Code" ></Label>
						<Label class="form-text" row="0" col="1" text="{{postal}}" ></Label>
				</GridLayout>
	
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="Country" ></Label>
						<Label class="form-text" row="0" col="1" text="{{country}}"></Label>
				</GridLayout>
	
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="State" ></Label>
						<Label class="form-text" row="0" col="1" text="{{state}}" ></Label>
				</GridLayout>
			
			</StackLayout>
		</StackLayout>
	</ScrollView>
