<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Camera component"></Label>
</ActionBar>

<ScrollView>
		<StackLayout id="step1" row="0" col="0" orientation="vertical" style=" z-index:20">
				<StackLayout>
						<GridLayout rows="*" columns="50,*, 120" class="topmenu-grid">
							<Label [nsRouterLink]="['/personal']" class="topmenu-back" row="0" col="0" text="<" ></Label>
							<StackLayout row="0" col="1">
								<Label class="topmenu-step" text="STEP 4/6" ></Label>
								<Label class="topmenu-title" text="ID Verification" ></Label>
							</StackLayout>
							<Image class="topmenu-logo" row="0" col="2" src="~/images/main-image.png"></Image>
						</GridLayout>
					</StackLayout>
				<StackLayout>
					<Label  class="details-title capitalize" text="DOCUMENT TYPE" ></Label>
					<StackLayout class="dropdown-underline">
						<DropDown #dd class="dropdown-default" [items]="items" [(ngModel)]="selectedIndex" (selectedIndexChanged)="onchange($event)"></DropDown>
					</StackLayout>
				</StackLayout>
				<StackLayout style="margin-bottom:30;">
					<Label  class="details-title capitalize"  text="DOCUMENT NUMBER" ></Label>
					<StackLayout class="dropdown-underline">
						<TextField class="hide-border " [(ngModel)]="docNumber" hint="Enter document number"  keyboardType="number"
						autocorrect="false" ></TextField>
					</StackLayout>
				</StackLayout>
				
			<Image [src]="imageSrc"  (tap)="showOptions();" *ngIf="imageSelected" [width]="previewSize" [height]="previewSize" stretch="aspectFit"></Image>
			<GridLayout rows="auto" columns="*" *ngIf="!imageSelected">
				<Image row="0" col="0"  (tap)="showOptions();" style="width:200;" src="~/images/rectangle.png"></Image>
				<Image row="0" col="0" (tap)="showOptions();" style="width:167;" src="~/images/camera.png"></Image>
			</GridLayout>
			<Button class="green-button" (tap)="next()" text="NEXT"> </Button>
		</StackLayout>
</ScrollView>