<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Camera component"></Label>
</ActionBar>

<ScrollView>
		<StackLayout orientation="vertical">
				<StackLayout>
					<GridLayout rows="*" columns="50,*, 50" class="topmenu-grid">
						<Label class="topmenu-back" row="0" col="0" text="<" ></Label>
						<StackLayout row="0" col="1">
							<Label class="topmenu-step" text="STEP 3/5" ></Label>
							<Label class="topmenu-title" text="ID Verification" ></Label>
						</StackLayout>
						<Label class="topmenu-logo" row="0" col="2" text="LOGO" ></Label>
					</GridLayout>
				</StackLayout>
				<StackLayout>
					<Label class="form-label"  text="DOCUMENT TYPE" ></Label>
					<TextField class="form-text-left" [(ngModel)]="lastName" hint="Enter last name" ></TextField>
				</StackLayout>
				<StackLayout>
					<Label class="form-label"  text="DOCUMENT NUMBER" ></Label>
					<TextField class="form-text-left" [(ngModel)]="email" hint="Enter email"  keyboardType="email"
					autocorrect="false" ></TextField>
				</StackLayout>
				
		<Image [src]="imageSrc" *ngIf="imageSelected" [width]="previewSize" (tap)="onSelectSingleTap()" [height]="previewSize" stretch="aspectFit"></Image>
		<Image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkotpjsfO_48KLWDkICAnq1NxiGyV5wd450RwgKYWa5xmRLSxX" *ngIf="!imageSelected" [width]="previewSize" [height]="previewSize" stretch="aspectFit"></Image>
		<Button  text="Chose from Library" (tap)="onSelectSingleTap()" horizontalAlignment="center"></Button>
		<Button  text="Take Photo" (tap)="takePicture()" horizontalAlignment="center"></Button>
	</StackLayout>

</ScrollView>