
<ScrollView>
	<StackLayout orientation="vertical">
		<StackLayout>
			<GridLayout rows="*" columns="50,*, 100" class="topmenu-grid topbar-gradient">
				<Image class="topmenu-back-2" row="0" col="0" src="~/images/business.png"></Image>
				<StackLayout style="vertical-align:center;" row="0" col="1">
					<Label class="topmenu-title-2" text="Manage Companies" ></Label>
				</StackLayout>
				<Image class="topmenu-logo" row="0" col="2" src="~/images/main-image.png"></Image>
			</GridLayout>
		</StackLayout>
		<StackLayout *ngFor="let serverArrElem of serverArr">
			<StackLayout *ngIf="serverArrElem"  (tap)="viewStatus(serverArrElem.uuid)" class="container-company">
				<GridLayout  rows="*" columns="*, *" >
					<StackLayout row="0" col="0">
						<Label text="{{serverArrElem.companyName}} {{serverArrElem.companyType}}" class="left-manage-title"></Label>
						<Label textWrap="true" text="{{ serverArrElem.status}}" class="left-manage-status"></Label>
					</StackLayout>
					<StackLayout row="0" col="1" >
						<GridLayout  rows="*" columns="*, 20" >
								<Label row="0" col="0" class="small-gray" textWrap='true' style="vertical-align:center; text-align:right;" text="Last updated {{ serverArrElem.updatedAt | date: 'yyyy/MM/dd h:mm:ss a' | statusUpdate }}"></Label>
								<Label row="0" col="1" class="small-gray" textWrap='true' style="vertical-align:center; text-align:right;" text=">"></Label>
						</GridLayout>
					</StackLayout>
				</GridLayout>
				<Label class="small-gray" text="We are reviewing your application and will contact you in 3-5 business days." textWrap="true" ></Label> 
			</StackLayout>
		</StackLayout>
		<Button text="Start new incorporation" style="margin-top:40" class="green-button" (tap)="done()"  ></Button>
		<Label style="text-align:center;color:#0675e1;margin-top:20; margin-bottom:30;font-size:18;" (tap)="oldInc()" text="I have an application number."></Label>
	</StackLayout>
</ScrollView>
