
<ScrollView>
	<StackLayout orientation="vertical">
		<StackLayout>
			<GridLayout rows="*" columns="50,*, 50" class="topmenu-grid main-page-gradient">
				<Label class="topmenu-back" row="0" col="0" text="lo" ></Label>
				<StackLayout row="0" col="1">
					<Label class="topmenu-title-2" text="Manage Companies" ></Label>
				</StackLayout>
				<Label class="topmenu-logo" row="0" col="2" text="LOGO" ></Label>
			</GridLayout>
		</StackLayout>
		<StackLayout *ngFor="let serverArrElem of serverArr">
			<StackLayout *ngIf="serverArrElem"  (tap)="viewStatus()" class="container-company">
				<GridLayout  rows="*" columns="*, *" >
					<StackLayout row="0" col="0">
						<Label text="{{serverArrElem.companyName}} {{serverArrElem.companyType}}" class="left-manage-title"></Label>
						<Label textWrap="true" text="{{ serverArrElem.status}}" class="left-manage-status"></Label>
					</StackLayout>
					<Label row ="0" col="1" class="small-gray" textWrap='true' style="vertical-align:center; text-align:right;" text="Last updated {{ serverArrElem.updatedAt | date: 'yyyy/MM/dd h:mm:ss a' | statusUpdate }} >"></Label>
				</GridLayout>
				<Label class="small-gray" text="We are reviewing your application and will contact you in 3-5 business days." textWrap="true" ></Label> 
			</StackLayout>
		</StackLayout>
		<Button text="Start new incorporation" style="margin-top:40" class="green-button" (tap)="done()"  ></Button>
	</StackLayout>
</ScrollView>
