
<ScrollView>
		<StackLayout orientation="vertical">
			<StackLayout id="step2">
					<StackLayout>
							<GridLayout rows="*" columns="50,*, 120" class="topmenu-grid">
								<Label [nsRouterLink]="['/payment']" class="topmenu-back" row="0" col="0" text="<" ></Label>
								<StackLayout row="0" col="1">
									<Label class="topmenu-step" text="STEP 6/6" ></Label>
									<Label class="topmenu-title" text="Billing information" ></Label>
								</StackLayout>
								<Image class="topmenu-logo" row="0" col="2" src="~/images/main-image.png"></Image>
							</GridLayout>
						</StackLayout>
	
				<GridLayout rows="*" columns="*,*" class="grid-form">
					<Label class="form-label" row="0" col="0" text="First Name" ></Label>
					<TextField class="form-text" row="0" col="1" [(ngModel)]="firstName" hint="Enter first name" ></TextField>
				</GridLayout>
				<GridLayout rows="*" columns="*,*" class="grid-form">
					<Label class="form-label" row="0" col="0" text="Last name" ></Label>
					<TextField class="form-text" row="0" col="1" [(ngModel)]="lastName" hint="Enter last name" ></TextField>
				</GridLayout>
				<GridLayout rows="*" columns="*,*" class="grid-form">
					<Label class="form-label" row="0" col="0" text="Email" ></Label>
					<TextField class="form-text" row="0" col="1" [(ngModel)]="email" hint="Enter email"  keyboardType="email"
					autocorrect="false" ></TextField>
				</GridLayout>
	
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="Adress line 1" ></Label>
						<TextField class="form-text" row="0" col="1" [(ngModel)]="al1" hint="Enter adress"  
						autocorrect="false" ></TextField>
				</GridLayout>
	
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="Adress Line 2" ></Label>
						<TextField class="form-text" row="0" col="1" [(ngModel)]="al2" hint="Enter adress" 
						autocorrect="false" ></TextField>
				</GridLayout>
	
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="City" ></Label>
						<TextField class="form-text" row="0" col="1" [(ngModel)]="city" hint="Enter city" 
						autocorrect="false" ></TextField>
				</GridLayout>
	
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="Postal Code" ></Label>
						<TextField class="form-text" row="0" col="1" [(ngModel)]="postal" hint="Enter postal code"
						autocorrect="false" ></TextField>
				</GridLayout>
	
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="Country" ></Label>
						<Label *ngIf="country=='Enter country'"  class="form-text" style="color:#999" textWrap="true" (tap)="showPicker()" row="0" col="1" text="{{emoji}} {{country}}"  
						autocorrect="false" ></Label>
						<Label *ngIf="country!='Enter country'"  class="form-text" textWrap="true" (tap)="showPicker()" row="0" col="1" text="{{emoji}} {{country}}"  
						autocorrect="false" ></Label>
				</GridLayout>
	
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="State" ></Label>
						<TextField *ngIf="country!='United States'" class="form-text" row="0" col="1" [(ngModel)]="state" hint="Enter state" 
						autocorrect="false" ></TextField>
						<Label *ngIf="country=='United States' && state==''" (tap)="showPickerStates()" class="form-text" style="color:#999;" row="0" col="1" text="Enter state" 
						autocorrect="false" ></Label>
						<Label *ngIf="country=='United States'" (tap)="showPickerStates()" class="form-text" row="0" col="1" text="{{state}}" 
						autocorrect="false" ></Label>
				</GridLayout>				
				<Button text="DONE" class="green-button" (tap)="step3()"  ></Button>
			</StackLayout>
		</StackLayout>
	</ScrollView>
			<FilterableListpicker #myfilter blur="dark" hintText="FIlter" [source]="countryList" (canceled)="cancelFilterableList($event)" (itemTapped)="itemTapped($event)"></FilterableListpicker>
	