.blue-text {
	color: #0675e1;
	text-align: right;
	background-color: white;
	margin-top: 20;
	margin-right: 0;
	font-size: 16;
}

.container-status {
	margin: 0 20;
}

.right-gray-small-text {
	margin-top: 20;
	color: #8E8E8E;
	font-size: 14;
	text-align: right;
}
.gray-text {
	color: #8E8E8E;
}