<ScrollView>
	<StackLayout orientation="vertical">
			<StackLayout>
				<GridLayout rows="*" columns="50,*, 50" class="topmenu-grid main-page-gradient" style="margin-bottom:0">
					<Label class="topmenu-back" row="0" col="0" text="<" ></Label>
					<StackLayout row="0" col="1">
						<Label class="topmenu-step" text="Manage Company" ></Label>
						<Label class="topmenu-title" text="IncInUSA LLC" ></Label>
					</StackLayout>
					<Label class="topmenu-logo" row="0" col="2" text="LOGO" ></Label>
				</GridLayout>
			</StackLayout>
		<StackLayout class="container-status">
			<GridLayout rows="*" columns="*,*">
					<Label row="0" col="0" class="h2" text="Status" ></Label>
					<Label class="blue-text" row="0" col="1" text="View Application" ></Label>
			</GridLayout>
			<GridLayout rows="*" columns="*,*">
				<StackLayout row="0" col="0">
					<Label class="h2" text="IncInUSA" ></Label>
					<Label text="Application Submited" ></Label>
				</StackLayout>
				<Label class="right-gray-small-text" row="0" col="1" text="Yesterday" ></Label>
			</GridLayout>
			<GridLayout rows="*" columns="*,*">
				<StackLayout row="0" col="0">
					<Label class="h2" text="IncInUSA" ></Label>
					<Label text="Application Submited" ></Label>
				</StackLayout>
				<Label class="right-gray-small-text" row="0" col="1" text="Yesterday" ></Label>
			</GridLayout>
		</StackLayout>
	</StackLayout>
</ScrollView>
