<ActionBar class="action-bar">
    <Label class="action-bar-title" text=""></Label>
</ActionBar>

<ScrollView>
	<StackLayout orientation="vertical">
		<Label textWrap="true" class="h1 container-finish-title" text="Congratulations!" ></Label>
		<Image src="~/images/check_circle.png" style="width:50%;"></Image>
		<Label class="container-finish" textWrap="true" text="You’ve successfully completed your application for registering a US company with IncInUSA." ></Label>
		<Label class="container-finish" textWrap="true" text="You can now monitor the application status in our app." ></Label>
		<Label class="green-label" (tap)="viewAppStatus()"  text="VIEW APPLICATION STATUS" style="margin-bottom:40;" ></Label>
	</StackLayout>
</ScrollView>