<ActionBar class="action-bar">
    <Label class="action-bar-title" text=""></Label>
</ActionBar>

<ScrollView>
	<StackLayout orientation="vertical">
		<StackLayout>
			<GridLayout rows="*" columns="50,*, 50" class="topmenu-grid main-page-gradient">
				<Label class="topmenu-back" row="0" col="0" text="lo" ></Label>
				<StackLayout row="0" col="1">
					<Label class="topmenu-title-2" text="Manage Companies" ></Label>
				</StackLayout>
				<Label class="topmenu-logo" row="0" col="2" text="LOGO" ></Label>
			</GridLayout>
		</StackLayout>
			<StackLayout>
				<Label text="Company details" class="h2" style="margin-left:20;"></Label>
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="Company Name" ></Label>
						<Label class="form-text h3" row="0" col="1" [text]="companyName"></Label>
					</GridLayout>
					<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="Company Type" ></Label>
						<Label class="form-text h3" row="0" col="1" [text]="companyType"></Label>
					</GridLayout>

				<Label text="List of Directors" class="h2" style="margin-left:20; margin-top:50"></Label>
				<GridLayout *ngFor="let dir of directorsArr; let i = index" rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="{{ dir.firstName }} {{ dir.lastName }}" ></Label>
						<Label class="form-text h3" style="color:#0675e1; margin-right:30" (tap)="viewDirector(i)" row="0" col="1" text="VIEW DETAILS"></Label>
				</GridLayout>

			<Label text="Personal Information" class="h2" style="margin-left:20;"></Label>
				<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="First Name" ></Label>
						<Label class="form-text h3" row="0" col="1" [text]="firstName"></Label>
					</GridLayout>
					<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="Last name" ></Label>
						<Label class="form-text h3" row="0" col="1" [text]="lastName"></Label>
					</GridLayout>
					<GridLayout rows="*" columns="*,*" class="grid-form">
						<Label class="form-label" row="0" col="0" text="Email" ></Label>
						<Label class="form-text h3" row="0" col="1" [text]="email"></Label>
					</GridLayout>
		
					<GridLayout rows="*" columns="*,*" class="grid-form">
							<Label class="form-label" row="0" col="0" text="Adress line 1" ></Label>
							<Label class="form-text h3" row="0" col="1" [text]="al1"></Label>
					</GridLayout>
		
					<GridLayout rows="*" columns="*,*" class="grid-form">
							<Label class="form-label" row="0" col="0" text="Adress Line 2" ></Label>
							<Label class="form-text h3" row="0" col="1" [text]="al2"></Label>
					</GridLayout>
		
					<GridLayout rows="*" columns="*,*" class="grid-form">
							<Label class="form-label" row="0" col="0" text="City" ></Label>
							<Label class="form-text  h3" row="0" col="1" [text]="city" ></Label>
					</GridLayout>
		
					<GridLayout rows="*" columns="*,*" class="grid-form">
							<Label class="form-label" row="0" col="0" text="Postal Code" ></Label>
							<Label class="form-text h3" row="0" col="1" [text]="postal" ></Label>
					</GridLayout>
		
					<GridLayout rows="*" columns="*,*" class="grid-form">
							<Label class="form-label" row="0" col="0" text="Country" ></Label>
							<Label class="form-text h3" row="0" col="1" [text]="country"></Label>
					</GridLayout>
		
					<GridLayout rows="*" columns="*,*" class="grid-form">
							<Label class="form-label" row="0" col="0" text="State" ></Label>
							<Label class="form-text h3" row="0" col="1" [text]="state"></Label>
					</GridLayout>
		
			</StackLayout>
			<Label text="AMOUNT DUE" class="details-title"></Label>
			<Label text="$595.00" style="color: #25B12A;margin-left:20; font-size:18; margin-bottom: 30;"></Label>
	</StackLayout>

</ScrollView>