<ScrollView>
	<StackLayout orientation="vertical">
		<StackLayout>
				<StackLayout>
					<GridLayout [nsRouterLink]="['/review']" rows="*" columns="40,*" class="edit-back">
						<Label style="margin-left:20; font-size:22;" row="0" col="0" text="<" ></Label>
						<Label style="text-align:left; font-size:22;" row="0" col="1" text="Back" ></Label>
					</GridLayout>
				</StackLayout>

			<GridLayout rows="*" columns="*,*" class="grid-form">
				<Label class="form-label" row="0" col="0" text="First Name" ></Label>
				<TextField class="form-text" row="0" col="1" [(ngModel)]="firstName" hint="Enter first name" ></TextField>
			</GridLayout>
			<GridLayout rows="*" columns="*,*" class="grid-form">
				<Label class="form-label" row="0" col="0" text="Last name" ></Label>
				<TextField class="form-text" row="0" col="1" [(ngModel)]="lastName" hint="Enter last name" ></TextField>
			</GridLayout>
			<GridLayout rows="*" columns="*,*" class="grid-form">
				<Label class="form-label" row="0" col="0" text="Email" ></Label>
				<TextField class="form-text" row="0" col="1" [(ngModel)]="email" hint="Enter email"  keyboardType="email"
				autocorrect="false" ></TextField>
			</GridLayout>

			<GridLayout rows="*" columns="*,*" class="grid-form">
					<Label class="form-label" row="0" col="0" text="Adress line 1" ></Label>
					<TextField class="form-text" row="0" col="1" [(ngModel)]="al1" hint="Enter adress"  
					autocorrect="false" ></TextField>
			</GridLayout>

			<GridLayout rows="*" columns="*,*" class="grid-form">
					<Label class="form-label" row="0" col="0" text="Adress Line 2" ></Label>
					<TextField class="form-text" row="0" col="1" [(ngModel)]="al2" hint="Enter adress" 
					autocorrect="false" ></TextField>
			</GridLayout>

			<GridLayout rows="*" columns="*,*" class="grid-form">
					<Label class="form-label" row="0" col="0" text="City" ></Label>
					<TextField class="form-text" row="0" col="1" [(ngModel)]="city" hint="Enter city" 
					autocorrect="false" ></TextField>
			</GridLayout>

			<GridLayout rows="*" columns="*,*" class="grid-form">
					<Label class="form-label" row="0" col="0" text="Postal Code" ></Label>
					<TextField class="form-text" row="0" col="1" [(ngModel)]="postal" hint="Enter postal code"  keyboardType="number"
					autocorrect="false" ></TextField>
			</GridLayout>

			<GridLayout rows="*" columns="*,*" class="grid-form">
					<Label class="form-label" row="0" col="0" text="Country" ></Label>
					<TextField class="form-text" row="0" col="1" [(ngModel)]="country" hint="Enter country" 
					autocorrect="false" ></TextField>
			</GridLayout>

			<GridLayout rows="*" columns="*,*" class="grid-form">
					<Label class="form-label" row="0" col="0" text="State" ></Label>
					<TextField class="form-text" row="0" col="1" [(ngModel)]="state" hint="Enter state" 
					autocorrect="false" ></TextField>
			</GridLayout>
	
			<Button text="NEXT" class="green-button" (tap)="addDirector()"  ></Button>
		</StackLayout>
	</StackLayout>

</ScrollView>